@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    font-family: figtree;
}
#title{
    margin-bottom: 0;
}
#description{
    font-size: 1.5rem;
}